{% extends 'Accounts/base.html' %}
{% block title %} Ask Question {% endblock %}
{% load static %}
{% block content %}

 <!-- Navbar links -->
 
  <header id="header">
    <div class="container-fluid fixed-top bg-dark" >
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <!-- Logo -->
          <a class="logo" href="{% url 'home' %}"><img src="{% static 'Accounts/assets/logo.png' %}" width="200px;" alt=""></a>
            <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarContent"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"><img src="{% static 'Accounts/assets/Ham.png' %}" style="width: 30px;" alt=""/></span>
            </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse" id="navbarContent" >
            <ul class="navbar-nav ml-auto ">
              <li class="nav-item">
                
                <a class="nav-link active text-light " href="{% url 'home' %}" style="font-size: 25px;padding-left: 10px;padding-right: 10px;"><span class="fa fa-home"></span> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'quiz_category_list_all' %}" data-scroll-nav="5" style="font-size: 25px;padding-left: 10px;padding-right: 10px;"><span class="fas fa-pen"></span> Quiz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'forum_home' %}" style="font-size: 25px;padding-left: 10px;padding-right: 10px"><span class="fas fa-comments"></span> Forum</a>
              </li>

                          <li><div class="dropdown">
                <button type="button" class="btn btn-outline-light dropdown-toggle fa fa-user" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'quiz_progress' %}">Quiz  Progress</a>
                  <a class="dropdown-item" href="{% url 'user_profile' username=request.user.username %}">My Profile</a>
                  <a class="dropdown-item" href="{%url 'logout' %}">Logout</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'authenticate' %}">Sign in</a>
                  {% endif %}
                </div>

              </div></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- End Navbar -->

<div class="container bg-dark" style="margin-top:100px;padding: 20px;border-radius: 15px">
  <div class="well">
          
                  <h4 class="text-center text-warning"><i class="fas fa-question-circle"></i> Ask Your Doubt:</h4>
                  {% if error %}
                  <div class="alert alert-warning">
                          <strong>{{ error }}</strong>
                  </div>
                  {% endif %}
                  <form role="form" method="post">
                          {% csrf_token %}

                        <div class="form-group">
                            <label for="topic"><h6 style="color: white">Topic :</h6></label>
                            <select name="topic" type="topic">
                              {% for i in topic %}
                              <option value="{{ i }}" class="form-control">{{ i }}</option>
                              {% endfor %}
                            </select>
                             
                         </div>


                      <div class="form-group">
                          <label for="question"><h6 style="color: white">Question :- </h6></label>
                          <input type="question" name="question" class="form-control" >
                      </div>
                      <br>
                      
                      <div class="form-group">
                         <label for="description"><h6 style="color: white">Description :-</h6></label>
                          <textarea class="form-control" name="description" rows="5"></textarea>
                      </div>
                      <div class="text-center">
                      <button type="submit" class="btn btn-dark" name="create_doubt">Submit</button>
                      </div>
                  </form>
              </div>
</div>

{% endblock %}